{% load static %}
<!DOCTYPE html>
<html lang='ru'>
<head>
  <meta charset="utf-8">
  <title>ToadBatApp</title>
  <link rel="stylesheet" href="{% static 'toadbat_css/css/style.css'%}">
</head>
<body>
  <header class="header">
    <div class="header_inner">
      <div class="header_logo">
       TnB
      </div>
      <div class="header_link">
       <a class="header_admin" href="/admin/">админка</a>
      </div>
    </div>
  </header>

  <div class="wrapper">
    <input type="checkbox" id="check-menu">
    <label for="check-menu">Меню</label>
    <div class="burger-line first"></div>
    <div class="burger-line second"></div>
    <div class="burger-line third"></div>
    <div class="burger-line fourth"></div>
    <nav class="main-menu">
        <a class="nav_links" href="#">Мой день</a>
        <a class="nav_links" href="#">Задачи Кафедры</a>
        <a class="nav_links" href="#">События</a>
        <a class="nav_links" href="#">Календарь</a>
        <a class="nav_links" href="#">Настройки</a>
    </nav>
  </div>
  

 
      
</body>
</html>