*{
    padding: 0;
    margin: 0;

}



/* HEADER */
.header_logo {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;

}

.header_img {
    position: relative;
    z-index: 9999;
}


.header_admin {
    color:rgb(241, 241, 241);
    text-decoration: none;
    
    
}

.header_inner {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-inline: 15px;
    font-family: 'Arial';
}
.header_link {
    font-size: 20px;
    font-weight: 700;
    
}

.intro {
    width: 100%;
    height: 93.3vh;
    
    background:
    url("https://etu.ru/assets/cache/images/ru/nauchnaya/novosti/1280x800-dscf2014-2.cb9.jpg") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.header {
    width: 100%;

    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    
    background-color: rgb(220, 220, 220);
    height: 40px;
    
   
}

.wrapper {
    margin: 50px 1px;
    width: 280px;
    background-color: rgb(220, 220, 220);
    position: relative;
    color: rgb(3, 2, 7);
    text-align: center;
    font-family: 'Arial';
    height: 37px;
    border-radius: 0 5px 5px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    opacity: .8;
    
    

}


#check-menu {
    display: none;
}

label {
    display: block; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
    
}




.burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: #fff;
    transition: .5s all;

}

.second, .third {
    top: 18px;
}

.fourth {
    top: 28px;
}

.main-menu {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
    opacity: .9;
   
}

.nav_links {
    display: block;
    width: 84%;
    padding: 25px;

    color: rgb(0, 0, 0);
    text-decoration: none;

    position: relative;
    border-top: 1px solid rgba(255, 255, 255,.3);
    background-color: rgb(239, 239, 239);

    transition: background-color .2s linear;
    transition: color .2s linear;
}

.nav_links:hover {
    background-color:rgb(227, 227, 227);
    color: rgb(232, 164, 39);
}
.nav_links:after {
    content:"";
    display: block;
    width: 50%;
    height: .5px;
    

    background-color: rgb(232, 164, 39);
    opacity: 0;

    top: 20%;
    left: 0;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    transition: opacity .2s linear;
}

.nav_links:hover:after {
    opacity: 1;

}

#check-menu:checked ~ .main-menu {
    max-height: 500px;
    font-size: 16px;
}

#check-menu:checked ~ .first {
    display: none;
}

#check-menu:checked ~ .second {
    transform: rotate(45deg);
}

#check-menu:checked ~ .third {
    transform: rotate(-45deg);
}

#check-menu:checked ~ .fourth {
    display: none;
}